@import "./common.scss";

.page.homepage {

    .main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 450px;
    }

}